#fp-nav.left {
	@media(--1024vp) {
		left: 0 !important;
	}

	& li {
		@media(--1200vp) {
			margin-bottom: 15px;
		}
	}

	& span {
		@media(--768vp) {
			display: none !important;
		}
	}
}

#fp-nav>ul li a,
#fp-nav>ul li a.active,
#fp-nav>ul li:hover a,
#fp-nav>ul li:hover a.active {
	& span {
		height: 12px;
		width: 12px;
		margin: -2px 0 0 -2px;
		background-color: var(--NeutralFour);
	}
}

#fp-nav>ul li a.active span,
#fp-nav>ul li:hover a.active span {
	background-color: var(--PrimaryOne);
}

#fp-nav>ul li:hover a span {
	background-color: var(--NeutralFive);
}

.home {
	& .contents {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		overflow: hidden;

		&:nth-child(2n) {
			background-color: var(--White);

			& .block-contain {
				background-color: transparent !important;
			}
		}

		&.choose-del {
			background-color: var(--PrimaryFour);

			& .fp-tableCell .block-contain {
				height: 80vh !important;
			}
		}

		& .fp-tableCell {
			display: flex;
			justify-content: center;
			align-items: center;

			& .block-contain {
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				background-color: var(--White);
				padding: 20px;
				width: 85vw;
				max-width: 1024px;
				margin-top: 100px;
				min-height: 60vh !important;
				height: 60vh !important;

				&>.block {
					text-align: center;

					& h1:first-child {
						margin-top: 20px;
						font-size: 60px;

						@media(--515vp) {
							font-size: 44px;
						}
					}

					& h2 {
						font-size: 40px;

						&:first-child {
							margin-top: 0;
						}

						@media(--515vp) {
							font-size: 28px !important;
						}
					}

					& h3 {
						color: var(--PrimaryThree);
					}

					& a.button {
						margin: 25px 0 0 0;
					}
				}
			}
		}
	}

	& section.section.contents.we-feed {
		height: 100vh;

		& .block-contain {
			max-width: 1024px;
			width: 100%;
			margin-top: 82px;

			& .block {
				background-color: var(--White);
				text-align: center;
				padding: 80px 60px 60px;
				margin: 0;

				@media(--1024vp) {
					padding: 80px;
				}

				@media(--768vp) {
					padding: 2em 1.5em;
					margin: 1em 1.5em;
				}

				& h1 {
					margin-top: 0;
					font-size: 60px;

					@media(--768vp) {
						font-size: 40px;
					}
				}
			}
		}
	}
}

.we-feed {
	background-image: url('../images/hero-lemons-bg.jpg');
	background-size: cover;
	background-position: top center;
	background-repeat: no-reeat;

	& .overlay {
		position: absolute;
		bottom: 70%;
		left: 50%;
		margin-left: -200px;
		width: 600px;
		height: 297px;
		background-image: url('../images/lemons-overlay.png');
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;

		@media(--515vp) {
			bottom: 85%;
		}
	}

	& p {
		font-size: 22px;
		max-width: 450px;
		margin-left: auto;
		margin-right: auto;

		@media(--515vp) {
			font-size: 16px;
			margin-bottom: 1.5em;
		}
	}

	& a.button {
		margin: 0;
	}
}

.why-del {
	background-image: url('../images/strawberry-bg.jpg');
	background-size: cover;
	background-size: 120%;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 8em 2em;
	text-align: center;

	@media(--1200vp) {
		background-size: 150%;
	}

	@media(--1024vp) {
		background-size: 180%;
	}

	@media(--768vp) {
		background-size: 240%;
	}

	@media(--515vp) {
		background-size: 300%;
	}

	& p {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;

		@media(--515vp) {
			font-size: 16px;
		}
	}
}

.choose-del {

	& .overlay {
		position: absolute;
		z-index: 2;
		top: 0;
		bottom: 0;
		width: 20vw;
		max-width: 300px;
		background-size: cover;
		background-repeat: no-repeat;

		&.left {
			left: 0;
			background-image: url('../images/veggies-left-side.png');
			background-position: right center;

			@media(--1024vp) {
				left: 0;
				right: 0;
				top: 0;
				bottom: auto;
				height: 20%;
				width: 100%;
				max-width: 100%;
				background-image: url('../images/veggies-top-side.png');
				background-position: center bottom;
			}

			@media(--768vp) {
				height: 15%;
			}
		}

		&.right {
			right: 0;
			background-image: url('../images/veggies-right-side.png');
			background-position: left center;

			@media(--1024vp) {
				left: 0;
				right: 0;
				top: auto;
				bottom: 0;
				height: 20%;
				width: 100%;
				max-width: 100%;
				background-image: url('../images/veggies-bottom-side.png');
				background-position: center top;
			}

			@media(--768vp) {
				height: 15%;
			}
		}
	}

	& .block-contain {
		width: 100%;
	}

	& .block {
		width: 70%;
		margin: 8em auto;
		text-align: center;
		padding: 2em;
		background-color: var(--White);

		@media(--768vp) {
			width: 100%;
		}
	}

	& .block * {
		position: relative;
		z-index: 2;
	}

	& h3 {
		margin: 50px 0 0 0;
		color: var(--PrimaryThree);
	}

	& h2 {
		margin: .35em 0 1em 0;
	}
}

.companies {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	& .company {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 33%;
		height: 100px;
		position: relative;

		& .swap {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: auto;
			height: 65px;
			filter: grayscale(100%);
		}

		@media(--515vp) {
			width: 50%;

			&:last-of-type,
			&:nth-last-of-type(2) {
				display: none;
			}
		}
	}

	&+a.button {
		margin: 50px 1em !important;
	}
}

.in-season {

	& .block-contain {
		padding: 0 80px;

		@media(--768vp) {
			padding: 0 !important;
		}
	}

	& .block {
		text-align: left !important;
		background-color: transparent !important;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		padding: 8em 2em;
		max-width: 1200px;

		@media(--768vp) {
			padding: 6em 2em 4em;
			justify-content: center;
		}

		& h2 {
			font-size: 40px !important;
			margin: 0;

			@media(--1200vp) {
				margin-bottom: 0;
			}

			@media(--768vp) {
				text-align: center;
				font-size: 1.75rem !important;
				width: 100%;
			}
		}

		& a.is-ghost {
			margin: 0 1em !important;
			padding: 1em;
			align-self: flex-end;
		}

		& section.produce-card-repeater {
			margin: 4em 0 0;
			width: 100%;

			@media(--768vp) {
				margin: 1em 0 0;
			}

			&>div {
				padding: 0;
				max-width: inherit;

				& button.continue {
					@media(--768vp) {
						margin-right: 200px;
					}

					@media(--515vp) {
						margin-right: 120px;
					}
				}
			}
		}

		& .item {

			& a.button {
				margin: 1em 200px 0 0 !important;

				@media(--1024vp) {
					margin: 1em 0 0 0 !important;
				}

				@media(--768vp) {
					margin: 1em 200px 0 0 !important;
				}

				@media(--515vp) {
					margin: 1em 0 0 0 !important;
				}
			}
		}
	}
}

.events {
	background-image: url('../images/meet-team-bg.jpg');
	background-size: cover;
	background-position: top center;
	background-repeat: no-reeat;

	& .fp-tableCell {
		// margin-top: 150px !important;
	}

	& .block-contain {
		padding: 8em 80px !important;

		@media(--768vp) {
			padding: 8em 1em !important;
		}

		& .block {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-start;
			width: 80%;
			margin: 0 auto;
			padding: 2em 4em;
			background-color: #fff;
			text-align: center;

			@media(--768vp) {
				width: 100%;
				padding: 1em;
			}
		}
	}

	& .overlay {
		position: absolute;
		right: -200px;
		bottom: -100px;
		width: 300px;
		height: 370px;
		background-image: url('../images/berry-overlay.png');
		background-size: cover;
		background-position: right bottom;
		background-repeat: no-repeat;

		@media(--768vp) {
			width: 125px;
			height: 155px;
			right: -70px;
			bottom: -80px;
		}
	}

	& img {
		position: absolute;
		width: 200px;
		hight: 200px;
		top: -100px;
		left: 50%;
		margin-left: -100px;
		border-radius: 50%;

		@media(--768vp) {
			display: none;
		}
	}

	& h3 {
		width: 100%;
		color: var(--PrimaryThree);
	}

	& h2 {
		font-size: 40px !important;
		margin: .35em 0;
		width: 100%;

		@media(--768vp) {
			margin-top: 0;
		}
	}

	& .event-card {
		display: inline-block;
		border-radius: 8px;
		background-color: #F7F7F7;
		width: 15%;

		@media(--1024vp) {
			width: 100%;
			max-width: 200px;
			margin-bottom: 1em;
		}

		& h4 {
			color: #ffffff;
			font-size: 16px;
			background-color: #798411;
			margin: 0;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			padding: 10px 0;

			@media(--515vp) {
				font-size: 14px;
			}
		}

		& p {
			font-size: 50px;
			font-weight: bold;
			padding: 0;
			margin: 0;

			@media(--515vp) {
				font-size: 30px;
			}
		}

		& h5 {
			font-size: 16px;
			margin: 0 0 1em;

			@media(--515vp) {
				font-size: 14px;
			}
		}
	}

	& .event-info {
		display: inline-block;
		text-align: left;
		width: 73%;

		@media(--1024vp) {
			text-align: center;
			width: 100%;
		}

		& p {
			@media(--515vp) {
				font-size: 14px;
			}

			&:first-of-type {
				font-size: 22px;
				margin: 0;

				@media(--515vp) {
					font-size: 16px;
				}
			}
		}
	}

	& p {
		max-width: 800px;
		padding: 0 40px;
		margin: .5em 0 0;

		@media(--768vp) {
			padding: 0;
		}
	}

	& a.button {
		margin: 2em 0;
	}
}