/*-----------------------------------------
    FOOTER
-----------------------------------------*/
footer.site-footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: var(--PrimaryFour);
	padding: 2rem;
	max-width: 1200px;
	margin: 0 auto;

	@media(--1400vp) {
		max-width: 1010px;
	}

	@media(--1200vp) {
		max-width: calc(100% - 172px);
		margin: 0 86px;
	}

	@media(--768vp) {
		max-width: 100%;
		padding: 1rem;
		margin: 0 0 90px;
	}

	&>div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		@media(--768vp) {
			justify-content: center;
		}

		&:first-of-type {
			border-bottom: 1px solid #A38465;
			padding-bottom: 1em;

			@media(--768vp) {
				border-bottom: none;
			}
		}

		&:last-of-type {
			justify-content: flex-start;
			padding-top: 1rem;

			@media (--768vp) {
				padding-top: 2rem;
			}
		}

		&>div {
			width: 100%;

			@media(--768vp) {
				text-align: center;
				margin: 1em;
			}
		}

		& nav.footer-nav {
			@media(--768vp) {
				display: none;
			}

			& ul {
				display: flex;
				flex-wrap: wrap;

				& li {
					padding-left: 0;
					background-image: none;

					& a {
						font-size: 14px;
						font-weight: bold;
						color: var(--PrimarySix);
						text-decoration: none;
						text-transform: uppercase;
						padding-right: 2em;

						&:hover,
						&:focus {
							text-decoration: underline;
						}
					}
				}
			}
		}

		& p {
			font-size: 14px;
			padding: 0 1em;
			color: #6A5540;

			@media (--768vp) {
				font-size: 12px;
				width: 100%;
				padding: 0;
			}
		}

		& a {
			color: #6A5540;
			font-size: inherit;

			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
	}
}

/*-----------------------------------------
		ELEMENT5 CREDIT LINK
		the svg is controlled by element5
-----------------------------------------*/
#element5-credit {
	position: absolute;
	right: 2rem;
	bottom: 2rem;
	width: 170px;
	height: 45px;
	padding-left: 0;
	overflow: hidden;
	transition: all .5s ease-in-out;

	@media (--768vp) {
		right: 1rem;
		bottom: 2.6rem;
	}

	& img {
		transform: translateX(100%);
		transition: all .35s linear;
	}

	&[data-emergence=visible] img {
		transform: translateX(0);
	}
}