/*-----------------------------------------
    BUTTONS
-----------------------------------------*/
button,
.button {
	display: inline-block;
	min-width: 150px;
	padding: .75em 2em;
	margin: 0 .5em .5rem 0;
	cursor: pointer;
	border: none;
	border-radius: 50px;
	background: var(--PrimaryOne);
	font-family: var(--BodyCopy);
	font-weight: 700;
	font-size: 16px;
	color: var(--White);
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	transition: all .25s ease-in-out;
	letter-spacing: 1px;

	@media (--768vp) {
		font-size: 14px;
	}

	&:hover,
	&:focus,
	&.is-hover {
		background: #4D5501;
		outline: none;
	}

	&:active,
	&.is-active {
		background: #4D5501);
		outline: none;
	}

	&.is-secondary {
		background: var(--PrimaryTwo);
		color: var(--Black);

		&:hover,
		&:focus,
		&.is-hover {
			background: #ECAA03;
		}

		&:active,
		&.is-active {
			background: #ECAA03;
		}
	}

	&.is-tertiary {
		background: var(--PrimaryThree);

		&:hover,
		&:focus,
		&.is-hover {
			background: #B10000;
		}

		&:active,
		&.is-active {
			background: #B10000;
		}
	}

	&.is-neutral {
		background: var(--NeutralFive);

		&:hover,
		&:focus,
		&.is-hover {
			background: #777777;
		}

		&:active,
		&.is-active {
			background: #585858;
		}
	}

	&.is-small {
		padding: .5em 1em;
		font-size: .875rem;
	}

	&.is-large {
		padding: 1em 3em;
		font-size: 1.125rem;
	}

	&.is-ghost {
		padding: .75em 2em;
		position: relative;
		display: table;
		background-color: transparent;
		border-radius: 0;
		text-align: left;
		min-width: 0;
		color: var(--PrimaryOne);
		letter-spacing: 2px;

		&::after {
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 5px 0 5px 8px;
			border-color: transparent var(--PrimaryOne);
			display: block;
			width: 0;
			z-index: 1;
			margin-top: -5px;
			right: -8px;
			top: 50%;
			transition: all .35s linear;
		}

		&:hover::after {
			right: -12px;
		}
	}
}

/*-----------------------------------------
    SKIP NAV
-----------------------------------------*/
.anchor {
	position: relative;
	display: block;
	width: 0;
	height: 0;
	top: -5vh;
}

.skip-nav {
	opacity: 1;
	position: absolute;
	top: 0;
	left: 3vw;
	transform: translateY(-100%);

	&:hover,
	&:focus {
		transform: translateY(0);
	}
}

/*-----------------------------------------
    TWEET CONTENT
-----------------------------------------*/
.tweet-this {
	text-decoration: none;
	border-bottom: 1px dotted #00aced;

	&:hover {
		border-bottom: 1px solid #00aced;
	}
}

.twitter-share {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	padding: 3px;
	height: 1em;
	width: 1em;
	margin-left: 12px;
	background-color: #00aced;

	&::after {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 4px 6px 4px 0;
		border-color: transparent #00aced;
		display: block;
		width: 0;
		z-index: 1;
		margin-top: -4px;
		left: -6px;
		top: 50%;
	}

	& svg {
		fill: #fff;
		position: absolute;
	}
}

/*-----------------------------------------
    SOCIAL BUTTONS
-----------------------------------------*/
.social-button {
	width: 75px;
	height: 75px;
	display: inline-block;
	padding: 16px;
	margin-right: 10px;
	margin-bottom: 10px;
	box-shadow: 0 2px 10px rgba(0, 67, 115, .2);
	border-radius: 10px;

	& svg {
		width: 100%;
		height: auto;
		transition: all .25s ease-in-out;
	}

	&.facebook:hover svg {
		fill: #3b5998;
	}

	&.instagram:hover svg {
		fill: #d10869;
	}

	&.twitter:hover svg {
		fill: #1dcaff;
	}

	&.linkedin:hover svg {
		fill: #0077B5;
	}

	&.pinterest:hover svg {
		fill: #C92228;
	}
}