/*-----------------------------------------
    FORMS
-----------------------------------------*/
form {
	& .button {
		margin: 0 auto;
		display: table;
	}

	& span {
		background-color: transparent;
	}

	& ul {
		list-style: none;
		margin: 0;
		padding: 0;

		&.gfield_checkbox li,
		&.gfield_radio li {
			margin: 0;
			width: auto;
		}
	}

	& li {
		display: inline-block;
		width: 100%;
		margin-bottom: .5em;
		padding-left: 0;
		background-image: none;

		&.half {
			width: 49%;
			margin-right: 1%;

			&.last {
				margin-right: 0;
				margin-left: 1%;
			}

			@media (--768vp) {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
			}
		}

		&.third {
			width: 32.33%;
			margin: 0 .5%;

			&.first {
				margin-left: 0;
				margin-right: 1%;
			}

			&.last {
				margin-right: 0;
				margin-left: 1%;
			}

			@media (--768vp) {
				width: 100%;
				margin-left: 0 !important;
				margin-right: 0 !important;
			}
		}

		&.block li {
			display: block;
		}
	}
}

.validation_message {
	display: none;
}

/*-----------------------------------------
    LABELS
-----------------------------------------*/
label {
	padding: .5em 0;
	font-size: 1.25rem;
	font-family: var(--BodyCopy-Bold);
	line-height: 1;
	position: relative;

	&::before {
		content: "(optional)";
		position: absolute;
		font-size: .65em;
		font-family: var(--BodyCopy);
		top: 50%;
		left: calc(100% + 6px);
		transform: translateY(-50%);
	}
}

li.gfield_contains_required {

	&>label::before,
	& .gfield_required {
		display: none;
	}
}

.ginput_container label,
.charleft {
	font-size: .75rem;
	margin-bottom: .5rem;
}

/*-----------------------------------------
    INPUTS
-----------------------------------------*/
input {
	font-family: var(--BodyCopy);
	border: 2px solid var(--NeutralThree);
	border-radius: 25px;
	width: 100%;
	padding: .5em 1em;
	background-position: center right 1em;
	background-repeat: no-repeat;
	background-size: 1.2em;

	&.is-activated,
	&:focus {
		outline: none;
		border-color: var(--NeutralFive);
	}

	&.LV_valid_field {
		border-color: #82B700;
		background-image: url(../images/input_valid.svg);
	}

	&.LV_invalid_field {
		border-color: #d90000;
		background-image: url(../images/input_error.svg);
	}
}

/*-----------------------------------------
    RADIO / CHECKBOXES
-----------------------------------------*/
input[type="radio"] {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	margin: 0 .25em 0 .5em;
	vertical-align: baseline;
	appearance: none;

	&:checked {
		background-color: green;
		border-color: green;
	}

	&+label,
	&+span+label {
		display: inline-block;
		font-size: 1rem;
		margin: 0;
	}
}

input[type="checkbox"] {
	width: 14px;
	height: 14px;
	border-radius: 4px;
	margin: 0 .25em 0 1em;
	vertical-align: baseline;
	appearance: none;

	&:checked {
		background-color: green;
		border-color: green;
	}

	&+label,
	&+span+label {
		display: inline-block;
		font-size: 1rem;
		margin: 0;
	}
}

/*-----------------------------------------
    SELECT
-----------------------------------------*/
select {
	font-family: var(--BodyCopy);
	border: 2px solid var(--NeutralThree);
	border-radius: 25px;
	padding: .5em 1em;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image:
		linear-gradient(45deg, transparent 50%, gray 50%),
		linear-gradient(135deg, gray 50%, transparent 50%),
		linear-gradient(to right, #ccc, #ccc);
	background-position:
		calc(100% - 20px) calc(1em + 0),
		calc(100% - 15px) calc(1em + 0),
		calc(100% + 50px) 0.5em;
	background-size:
		5px 5px,
		5px 5px,
		1px 1.5em;
	background-repeat: no-repeat;

	&:focus {
		background-image:
			linear-gradient(45deg, green 50%, transparent 50%),
			linear-gradient(135deg, transparent 50%, green 50%),
			linear-gradient(to right, #ccc, #ccc);
		background-position:
			calc(100% - 15px) 1em,
			calc(100% - 20px) 1em,
			calc(100%) 0.5em;
		background-size:
			5px 5px,
			5px 5px,
			1px 1.5em;
		background-repeat: no-repeat;
		border-color: green;
		outline: 0;
	}

	&.is-activated,
	&:focus {
		outline: none;
		border-color: var(--NeutralFive);
	}

	&.LV_valid_field {
		border-color: green;
	}

	&.LV_invalid_field {
		border-color: red;
	}
}

/*-----------------------------------------
    TEXTAREA
-----------------------------------------*/
textarea {
	font-family: var(--BodyCopy);
	border: 2px solid var(--NeutralThree);
	border-radius: 18px;
	padding: 1em;
	width: 100%;

	&.is-activated,
	&:focus {
		outline: none;
		border-color: var(--NeutralFive);
	}

	&.LV_valid_field {
		border-color: green;
	}

	&.LV_invalid_field {
		border-color: red;
	}
}