/*-----------------------------------------
    FONTS
-----------------------------------------*/

/*-----------------------------------------
    HEADINGS
-----------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
.widget h1,
.widget h2,
.widget h3,
.widget h4,
.widget h5,
.widget h6 {
	font-family: var(--HeadCopy);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 1em 0 .35em 0;
}

h1,
.widget h1 {
	font-size: 40px;

	@media (--768vp) {
		font-size: 35px;
	}

	&+h3 {
		color: var(--PrimaryThree);
	}
}

h2,
.widget h2 {
	font-size: 40px;

	@media (--768vp) {
		font-size: 28px;
	}
}

h3,
.widget h3 {
	font-size: 22px;
}

h4,
.widget h4 {
	font-size: 20px;
}

h5,
.widget h5 {
	font-size: 14px;
}

h6,
.widget h6 {
	color: var(--PrimaryThree);
	font-size: 22px;
	text-transform: none;
	font-weight: 100;
	letter-spacing: 1px;
}

/*-----------------------------------------
    BODY COPY
-----------------------------------------*/
p,
time,
address {
	font-family: var(--BodyCopy);
	font-size: 18px;
	line-height: 1.5;
}

ol,
ul {
	font-family: var(--BodyCopy);
	font-size: 18px;
	list-style: none;
	padding-left: 0;
}

li {
	font-family: var(--BodyCopy);
	position: relative;
	background-size: 13px;
	background-position: 27px 14px;
	background-repeat: no-repeat;
	line-height: 2.5;
	padding-left: 54px;
}

ul {
	& li {
		background-image: url('../images/list-bullet.svg');
	}
}

ol {
	counter-reset: number-counter;

	& li {
		counter-increment: number-counter;

		&:before {
			content: counter(number-counter);
			position: absolute;
			left: 27px;
			color: var(--PrimaryOne);
			font-weight: bold;
		}
	}
}

a {
	font-family: var(--BodyCopy);
	font-size: 18px;
	color: #82b700;

	&:hover,
	&:focus,
	&:active {}
}

hr {
	height: 2px;
	margin: 3em auto;
	background: transparent;
	border: none;
	border-bottom: 2px dashed #FFB700;
	width: 50%;
}

blockquote,
q {
	position: relative;
	margin: 2rem auto;
	width: 90%;
	padding: 50px 1.5rem 1.5rem 1.5rem;
	box-shadow: 0 8px 23px 0 rgba(0, 0, 0, 0.08);
	font-family: var(--BodyCopy);
	text-align: center;

	&::after {
		content: '“';
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		font-family: var(--BodyCopy);
		color: var(--PrimaryTwo);
		font-size: 80px;
	}
}

pre {
	margin-bottom: 0;

	&+.click-to-copy {
		text-decoration: underline;
		font-size: 14px;
	}
}

code {
	background: #272822;
	color: #e5e5e5;
	display: inline-block;
	padding: .75rem .5rem;
	font-size: 12px;
	max-width: 100%;
	max-height: 200px;
	overflow: auto;
}