/*-----------------------------------------
  BANNER
-----------------------------------------*/
section.banner {
	margin-bottom: 100px;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--PrimaryFive);

	@media (--1024vp) {
		background-position: center -200px;
	}

	&>div {
		padding: 100px 80px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;

		@media (--768vp) {
			padding: 100px 1em;
		}

		& h3 {
			margin: 0;
			color: var(--PrimaryThree);
			width: 100%;
			margin-bottom: .5em;
		}

		& .buttons {
			width: 100%;
			margin-top: 2em;
		}
	}
}