/*-----------------------------------------
  INFO BANNER
-----------------------------------------*/
section.info-banner {
	background-color: var(--PrimaryFour);
	padding: 2em;
	position: relative;
	margin: 0 80px 100px;

	@media (--768vp) {
		margin: 0 0 100px;
	}

	&:before {
		content: '';
		position: absolute;
		top: -10%;
		left: 5%;
		width: 236px;
		height: 178px;
		background-image: url(../images/mint.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 236px;

		@media (--1024vp) {
			left: -10%;
		}

		@media (--515vp) {
			top: -5%;
			left: -35%;
		}
	}

	&:after {
		content: '';
		position: absolute;
		bottom: -10%;
		right: -5%;
		width: 236px;
		height: 178px;
		background-image: url(../images/mint.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 236px;
		transform: rotate(180deg);
		z-index: -1;

		@media (--1024vp) {
			right: -10%;
		}
	}

	&>div {
		max-width: 1200px;
		margin: 0 auto;
		text-align: center;

		& h2 {
			text-align: center;
			color: var(--PrimarySix);
			margin: 1em 0;
		}

		&>div {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			text-align: left;
			max-width: 1024px;
			margin: 0 auto;

			&>div {
				width: 50%;
				padding: 0 2em;

				@media (--1024vp) {
					width: 100%;
				}
			}
		}

		& a.button {
			margin: 40px 0;
		}
	}
}