/*-----------------------------------------
  PRODUCT REPEATER
-----------------------------------------*/
section.product-repeater {
	margin: 0 80px 100px;

	@media (--768vp) {
		margin: 0 0 100px;
	}

	&>div {
		max-width: 940px;
		margin: 0 auto;
		padding: 0 2em;

		& article.preview-product {
			background-color: var(--SecondaryFive);
			display: flex;
			flex-wrap: wrap;

			&:nth-of-type(even) {
				& .product-image {
					order: 2;

					@media (--1024vp) {
						order: inherit;
					}
				}
			}

			& .product-image {
				width: 50%;
				overflow: hidden;

				@media (--1024vp) {
					width: 100%;
					max-height: 300px;
				}

				& img {
					width: auto;
					height: 100%;

					@media (--1024vp) {
						width: 100%;
						height: auto;
					}
				}
			}

			& .product-info {
				width: 50%;
				padding: 3em;

				@media (--1024vp) {
					width: 100%;
				}

				@media (--768vp) {
					padding: 1em;
				}

				& h3 {
					color: var(--PrimaryThree);
				}

				& a.button {
					margin-top: 2em;
				}
			}
		}
	}
}