/*-----------------------------------------
  PRODUCE CARD REPEATER
-----------------------------------------*/
section.produce-card-repeater {
	margin: 0 80px 100px;

	@media (--768vp) {
		margin: 0 0 100px;
	}

	&>div {
		max-width: 1024px;
		margin: 0 auto;
		padding: 0 2em;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;

		& .preview-produce-card {
			width: 47%;
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			@media (--768vp) {
				width: 100%;
				margin-bottom: 2em;
			}

			&.is-more {
				& .fade-wrap {
					max-height: inherit;
				}

				& .fade {
					background-image: none;
					display: none;
				}
			}

			& img {
				padding-right: 1em;
				max-width: 100px;
			}

			& h3 {
				color: var(--PrimaryThree);
			}

			& .fade-wrap {
				position: relative;
				max-height: 180px;
				overflow: hidden;
				transition: all .35s linear;

				& .fade {
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					bottom: 0;
					background-image: linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%);
				}
			}
		}

		& button.continue {
			margin-top: 1em;
			padding-left: 0;

			&:hover {
				&:after {
					right: -8px;
				}
			}

			&:after {
				border-width: 10px 6px 0 6px;
				border-color: var(--PrimaryOne) transparent;
				transition: none;
			}

			&.is-more {

				&:after {
					border-width: 0 6px 10px 6px;
				}
			}
		}

		& a.button {
			margin: 4em auto;
		}
	}
}