/*-----------------------------------------
  STAFF REPEATER
-----------------------------------------*/
section.staff-repeater {
	margin-bottom: 100px;

	&>div {
		margin: 0 90px;
		text-align: center;
		display: flex;
		flex-wrap: wrap;

		@media (--768vp) {
			margin: .5em;
		}

		& h2 {
			width: 100%;
			margin: 2em 0 1em;
		}

		& article.preview-staff {
			width: calc(20% - 6px);
			margin: 1.5px 3px;
			position: relative;

			@media (--1200vp) {
				width: calc(25% - 6px);
			}

			@media (--1024vp) {
				width: calc(50% - 6px);
			}

			@media (--768vp) {
				width: calc(50% - 1em);
				margin: .5em;
			}

			&:hover {
				& .member-info {
					padding-bottom: 2em;
				}
			}

			& img {
				width: 100%;
			}

			& .member-info {
				position: absolute;
				bottom: 3px;
				background-color: var(--PrimaryFour);
				width: calc(100% - 3em);
				margin: 0 1.5em;
				padding: 1em;
				transition: all .25s linear;

				& h5 {
					font-size: 14px;
					letter-spacing: 1px;
					color: var(--PrimarySix);
					margin: 0;
				}

				& p {
					font-style: italic;
					color: var(--PrimarySix);
					font-size: 14px;
					margin: 0;
					line-height: 1;
				}
			}
		}
	}
}