/*-----------------------------------------
  THREE COLUMN SECTION
-----------------------------------------*/
section.three-column {
	background-color: var(--PrimaryFour);
	padding: 2em;
	position: relative;
	margin: 0 80px 100px;

	@media (--768vp) {
		margin: 0 0 100px;
	}

	&>div {
		max-width: 1200px;
		margin: 0 auto;
		text-align: center;

		& h2 {
			text-align: center;
			color: var(--PrimarySix);
			margin: 1em 0 0;
		}

		& h6 {
			color: #6A5540;
			margin-bottom: 3em;
		}

		&>div {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			text-align: left;
			max-width: 1024px;
			margin: 0 auto 2em;

			&>div {
				width: 33%;
				padding: 0 2em;

				@media (--1024vp) {
					width: 100%;
				}
			}
		}

		& a.button {
			margin: 40px 0;
		}
	}
}