/*-----------------------------------------
  TWO COLUMN SECTION
-----------------------------------------*/
section.two-column {
	margin: 0 80px;

	@media (--768vp) {
		margin: 0;
	}

	&>div {
		max-width: 1024px;
		margin: 0 auto;
		text-align: center;

		&>img {
			width: 100%;
		}

		&>p {
			max-width: 530px;
			margin: 0 auto 2em;
			font-size: 22px;
		}

		&>div {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			text-align: left;

			&>div {
				width: 50%;
				padding: 0 2em;

				@media (--1024vp) {
					width: 100%;
				}

				& h4 {
					color: var(--PrimaryThree);
					margin-top: 2em;
				}
			}
		}

		& a.button {
			margin: 2em 0;
		}
	}
}