/*-----------------------------------------
    BREADCRUMBS NAVIGATION
-----------------------------------------*/
nav.breadcrumbs {
	width: 80vw;
	margin: 0 auto;
	font-family: var(--BodyCopy);
	font-size: 18px;
	padding: 1vh 0;

	@media (--1024vp) {
		width: 90vw;
	}

	@media (--768vp) {
		font-size: 14px;
	}
}