/*-----------------------------------------
    TOP BAR
-----------------------------------------*/

.top-bar {
	opacity: 0.77;
	background-color: rgba(217, 0, 0, 0.77);
	width: 1200px;
	position: absolute;
	top: -42px;
	left: calc(50% - 600px);
	z-index: 9999;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 2em;
	transition: all .35s linear;

	@media (--1400vp) {
		left: calc(50% - 505px);
		width: 1010px;
	}

	@media (--1200vp) {
		width: calc(100% - 160px);
		margin: 0 80px;
		height: 48px;
		left: 0;
		top: -48px;
	}

	@media (--768vp) {
		width: 100%;
		margin: 0;
		padding: 0 1em;
	}

	& p {
		font-size: 18px;
		color: #ffffff;
		margin: 0;

		@media (--1024vp) {
			width: 85%;
		}

		@media (--768vp) {
			font-size: 14px;
		}
	}

	& button {
		margin: 0;
		background: transparent;
		position: relative;

		@media (--1024vp) {
			min-width: auto;
			padding: 0;
		}

		&:before {
			content: '';
			position: absolute;
			top: 13px;
			right: 1.5em;
			width: 14px;
			height: 14px;
			background-image: url(../images/xmark.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 14px;

			@media (--1024vp) {
				top: -5px;
				right: 0;
			}
		}

		& span {
			@media (--1024vp) {
				display: none;
			}
		}
	}

	&.is-hidden {
		top: -42px;

		@media (--1200vp) {
			top: -48px;
		}
	}

	&.is-closed {
		top: -42px !important;

		@media (--1200vp) {
			top: -48px !important;
		}
	}

	&.is-open {
		top: 0;
	}

	&.load-closed {
		display: none;
	}
}

/*-----------------------------------------
    PRIMARY NAVIGATION
-----------------------------------------*/

.home {
	& .top-bar {
		top: -42px;

		@media (--1200vp) {
			top: -48px;
		}

		&.is-closed {
			top: -42px !important;

			@media (--1200vp) {
				top: -48px !important;
			}
		}

		&.is-open {
			top: 0;
		}

		&.load-closed {
			display: none;
		}
	}

	& nav.nav-primary {
		position: absolute;
		top: 0;

		&.top-closed {
			position: fixed;
			top: 0 !important;
			transition: all .35s linear;
		}

		&.top-open {
			top: 42px;

			@media (--1200vp) {
				top: 48px;
			}
		}

		&.load-top-closed {
			transition: none !important;
		}
	}

	& .testimonies-block {
		margin: 100px 80px;

		@media (--768vp) {
			margin: 100px 0;
		}
	}
}

.home nav.nav-primary::after {
	width: 0;
	height: 0;
}

.fp-viewing-0 nav.nav-primary::after {
	width: 300px;
	height: 100px;
}

nav.nav-primary {
	width: 1200px;
	position: absolute;
	top: 0;
	left: calc(50% - 600px);
	display: flex;
	display: block;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 10px #888888;
	background-color: var(--White);
	padding: 20px 2em;
	z-index: 10000;

	@media (--1400vp) {
		left: calc(50% - 505px);
		width: 1010px;
	}

	@media (--1200vp) {
		width: calc(100% - 160px);
		margin: 0 80px;
		left: 0;
	}

	@media (--1024vp) {
		padding: 20px 1em;
	}

	@media (--768vp) {
		width: 100%;
		margin: 0;
		padding: .5em;
	}

	&.is-stuck {
		position: fixed;
		top: 0 !important;
	}

	&.top-closed {
		position: fixed;
		top: 0 !important;
		transition: all .35s linear;
	}

	&.top-open {
		top: 42px;

		@media (--1200vp) {
			top: 48px;
		}
	}

	&.load-top-closed {
		transition: none !important;
	}

	& a {
		min-width: 0;
		margin: 0;
		position: relative;

		&:last-of-type {
			float: right;
		}

		&.is-phone {
			& span {
				padding-left: 1em;
			}

			& svg {
				display: block;
				position: absolute;
				left: 1em;

				@media (--768vp) {
					position: initial;
				}
			}
		}

		& span {
			background-color: transparent;
			margin: 0;
		}

		& svg {
			display: none;
		}

		@media (--768vp) {
			padding: 1em;

			& span {
				display: none
			}

			& svg {
				display: block;

				&#menu {
					height: 20px;

					&.is-hidden {
						display: none;
					}
				}

				&#close {
					display: none;

					&.is-active {
						display: block;
					}
				}
			}
		}
	}

	& a.brand {
		position: absolute;
		padding: 0;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		transition: all .35s linear;

		&.scroll {
			top: -5px;

			@media (--768vp) {
				top: -14px;
			}

			& img,
			& svg {
				height: 100px;
				transform: scale(0.7);
				transition: all .35s linear;

				@media (--768vp) {
					transform: scale(0.6);
				}
			}
		}

		& img,
		& svg {
			display: block !important;
			width: 102px !important;
			transition: all .35s linear;
		}
	}

	& form {
		position: absolute;
		max-width: 300px;
		width: 100%;
		right: 2em;
		top: 1.2em;
		z-index: -1;
		opacity: 0;
		transition: all .35s linear;

		@media (--1024vp) {
			max-width: 240px;
			right: 1em;
		}

		@media (--768vp) {
			max-width: calc(100% - 1em);
			top: 0.4em;
			right: 0.5em;
		}

		&.is-active {
			z-index: 1;
			opacity: 1;
		}

		& input {
			border: none;
			border-radius: 0;
			border-bottom: 1px solid #E8E8E8;
			font-size: 20px;

			@media (--768vp) {
				height: 58px;
			}
		}

		& button.is-small.is-borderless {
			position: absolute;
			top: 1px;
			right: 0;
		}
	}

	& button.is-small.is-borderless {
		margin: 0;
		background-color: transparent;
		float: right;
		min-width: auto;
		padding-right: 0;

		@media (--768vp) {
			padding-top: 1em;
		}

		&:hover,
		&:focus {
			border-bottom-color: transparent;
		}

		& svg {
			width: 1.75em;
			height: 1.75em;
			margin: 0;
			stroke: transparent;
			fill: var(--Black);
			transition: all .35s linear;
		}
	}
}

nav.nav-primary-left {
	position: fixed;
	top: calc(50% - 240px);
	left: 0;
	z-index: 999999;
	background-color: var(--White);
	box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.13);

	@media (--768vp) {
		transform: translateY(-150%);
		transition: all .35s linear;
		top: 67px;
		width: 100%;
		height: 100%;
		z-index: 1000;

		&.is-active {
			transform: translateY(0);
		}

		& ul {
			width: 100%;
			margin-top: 4em;

			& li {
				width: 100%;

				& a {
					& span {
						text-indent: 80px;
					}
				}
			}
		}
	}

	& ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 80px;
		margin: 0;

		&.is-hover {
			width: 280px;

			& li {
				width: 280px;

				& a {
					& span {
						text-indent: 80px;
					}
				}
			}
		}

		& li {
			background-image: none;
			padding-left: 0;
			width: 80px;
			height: 80px;
			display: flex;
			align-items: center;
			border-bottom: 1px solid rgba(163, 132, 101, 0.25);

			&:last-of-type {
				border-bottom: none;
			}

			& a {
				display: flex;
				align-items: center;
				text-decoration: none;
				width: 100%;

				&:hover,
				&:focus {
					width: 280px;
					position: absolute;

					& span {
						text-indent: 80px;
						background-color: var(--SecondaryFive);
					}
				}

				& span {
					position: relative;
					text-indent: -9999px;
					display: block;
					color: var(--PrimarySix);
					font-size: 14px;
					font-weight: bold;
					height: 82px;
					width: 100%;
					display: flex;
					align-items: center;
					text-transform: uppercase;
					padding-left: 1em;

					& img {
						max-width: 50px;
						margin-left: 15px;
						position: absolute;
						left: 0;
						text-indent: 0;
					}
				}
			}
		}
	}
}

nav.nav-primary-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 2px solid var(--PrimaryFour);
	display: none;
	z-index: 10000;

	@media(--768vp) {
		display: flex;
	}

	& ul {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		background-color: var(--White);
		margin: 0;

		& li {
			width: 25%;
			height: 88px;
			padding-left: 0;
			background-image: none;
			border-right: 1px solid var(--PrimaryFour);
			position: relative;

			&:last-of-type {
				border-right: none;
			}

			& a {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				text-decoration: none;

				& span {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					padding: 5px;
					text-transform: uppercase;
					color: var(--PrimarySix);
					font-size: 14px;
					font-weight: 700;

					& img {
						height: 48px;
						order: -1;
						margin: 0 35px;
					}
				}
			}
		}
	}
}