/*-----------------------------------------
		SOCIAL NAVIGATION
-----------------------------------------*/
nav.social-nav {
	display: flex;
	& .social-button {
		width: 50px;
		height: 50px;
		padding: 0;
		box-shadow: none;
		margin-bottom: 0;
		&:last-child {
			margin-right: 0;
		}
	}
}