/*-----------------------------------------
  CONTACT TEMPLATE
-----------------------------------------*/
.contact {
	& header.page-title {
		margin-bottom: 0;
	}

	& .default-contents {
		max-width: 700px;

		@media (--1024vp) {
			padding: 0 1em;
			max-width: inherit;
		}

		& .half {
			padding: 0 1em;

			@media (--768vp) {
				text-align: center;
			}
		}
	}
}

.sign-up,
.online-ordering,
.work-with-us,
.privacy-policy,
.style-guide {
	& header.page-title {
		margin-bottom: 0;
	}
}