/*-----------------------------------------
    ERROR/404 PAGE
-----------------------------------------*/

.error404 .page-title {
	margin-bottom: 0;
}

header.page-title .error-message {
	margin: 60px 0 0 0;
	max-width: 85vw;
	padding: 10vh 10vw;
	position: relative;
	background-color: var(--White);
	text-align: center;

	& h1 {
		font-size: 100px;
		margin: 0 0 10px 0;
		color: var(--PrimaryThree);

		@media (--768vp) {
			font-size: 45px;
		}
	}

	& p {
		font-size: 22px;
		max-width: 500px;
		margin: 0 auto 1.5em auto;

		@media (--768vp) {
			font-size: 18px;
		}
	}

	& .overlay {
		position: absolute;
		margin: 60px auto 0 auto;
		right: -200px;
		bottom: -100px;
		top: auto;
		left: auto;
		width: 300px;
		height: 370px;
		background-image: url('../images/berry-overlay.png');
		background-size: cover;
		background-position: right bottom;
		background-repeat: no-repeat;

		@media(--768vp) {
			bottom: -185px;
			right: -225px;
		}
	}
}