/*-----------------------------------------
  MARKET REPORT TEMPLATE
-----------------------------------------*/
.page-template-market-report {
	& header.page-title {
		margin-bottom: 200px;

		&>p {
			bottom: -50px;

			@media (--768vp) {
				bottom: -70px;
			}
		}

		&>a.button {
			bottom: -140px;
			padding: 1em 1em 1em 3em;

			&:before {
				content: '';
				position: absolute;
				top: 4px;
				left: 8px;
				width: 42px;
				height: 42px;
				background-image: url(../images/download.svg);
				background-position: center;
				background-repeat: no-repeat;
				background-size: 42px;
			}
		}
	}

	& section.two-column {
		margin-bottom: 100px;

		&>div {
			&>div {
				&>div {
					& h3 {
						margin-top: 3em;
						color: var(--PrimarySix);
					}

					& h4 {
						margin-top: 0;
						font-size: 16px;

						& span {
							&.green {
								color: var(--PrimaryOne);
							}

							&.red {
								color: var(--PrimaryThree);
							}
						}
					}
				}
			}
		}
	}

	& section.banner {
		&>div {
			& .buttons {
				& a.button {
					&:first-of-type {
						padding: 1em 1em 1em 3em;
						position: relative;

						&:before {
							content: '';
							position: absolute;
							top: 8px;
							left: 8px;
							width: 42px;
							height: 42px;
							background-image: url(../images/download-white.svg);
							background-position: center;
							background-repeat: no-repeat;
							background-size: 42px;
						}
					}
				}
			}
		}
	}
}