/*-----------------------------------------
  ONLINE ORDERING TEMPLATE
-----------------------------------------*/
.page-online-ordering {
	& header.page-title {
		margin-bottom: 0;

		&>h1 {
			padding-bottom: 0;
		}
	}

	& .default-contents {
		min-height: 300px;
	}
}