/*-----------------------------------------
    Style Guide Template
-----------------------------------------*/
.page-template-styleguide {
	& .default-contents {
		max-width: 1024px;

		& .wysiwyg-two-col {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			&>div {
				width: 48%;

				@media (--768vp) {
					width: 100%;
				}
			}
		}

		& .wysiwyg-four-col {
			display: flex;
			flex-wrap: wrap;

			&>div {
				width: 30%;

				@media (--1024vp) {
					width: 48%;
				}

				@media (--768vp) {
					width: 100%;
				}
			}
		}
	}
}