/*-----------------------------------------
  WHAT'S IN SEASON TEMPLATE
-----------------------------------------*/
.page-template-whats-in-season {
	& header.page-title {
		margin-bottom: 100px;

		&>p {
			bottom: -20px;
		}
	}
}