/*-----------------------------------------
  	META DATA
-----------------------------------------*/
article footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	max-width: 80vw;
	margin: 16px auto;
	padding: 8px;
	background-color: var(--NeutralOne);
	& > * {
		margin: 0 14px;
		display: inline-block;
		&:first-child {
			margin-left: 0;
		}
	}
}

/*-----------------------------------------
  	POST
-----------------------------------------*/
.post-preview {
	width: 49%;
	&:nth-child(odd) {
		margin: 2.5vh 1% 2.5vh 0;
	}
	&:nth-child(even) {
		margin: 2.5vh 0 2.5vh 1%;
	}
	@media (--768vp) {
		width: 100%;
	}
	& > a {
		text-decoration: none;
		color: inherit;
	}
	& .featured-image {
		height: 35vh;
		width: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@media (--1024vp) {
			height: 20vh;
		}
	}
	& h2 {
		margin: .35em 0;
	}
}

/*-----------------------------------------
  	SEARCH
-----------------------------------------*/
.search {
	& header.page-title {
		margin-bottom: 0;
	}
}

.search-feed {
	justify-content: center;
	margin-bottom: 0;

	& article.preview-search {
		width: 50%;
		position: relative;

		@media (--768vp) {
			width: 100%;
		}

		&>div {
			padding: 1em;

			& h3 {
				color: var(--PrimaryThree);
			}
		}

		&>a {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			z-index: 2;
		}
	}
}