/*-------------------------------------------------------------------

  PROCESSOR: POSTCSS
    http://postcss.org/
  SYNTAX: CSSNEXT
    http://cssnext.io/
  NAMING CONVENTIONS: MODULAR CSS with lower-case-hyphenated
    http://thesassway.com/advanced/modular-css-naming-conventions
  CSS Style: TABS
    http://www.sublimetext.com/docs/indentation
  CSS BASE: NORMALIZE
    https://necolas.github.io/normalize.css/
  FRAMEWORK: FLEX-BOX *SOON CSS GRID*
    https://css-tricks.com/snippets/css/a-guide-to-flexbox/
   
-------------------------------------------------------------------*/

/*-----------------------------------------
    VARIABLES
-----------------------------------------*/

:root {
	--White: #ffffff;
	--Black: #000000;
	--PrimaryOne: #6F7B00;
	--PrimaryTwo: #FFB700;
	--PrimaryThree: #D90000;
	--PrimaryFour: #E7D9CB;
	--PrimaryFive: #D7D7D6;
	--PrimarySix: #8C755E;
	--SecondaryOne: #4D5501;
	--SecondaryTwo: #ECAA03;
	--SecondaryThree: #B10000;
	--SecondaryFour: #E2DCD7;
	--SecondaryFive: #F1F1F1;
	--NeutralOne: #FCFCFC;
	--NeutralTwo: #D8D8D8;
	--NeutralThree: #D7D7D6;
	--NeutralFour: #B1B1B1;
	--NeutralFive: #979797;
	--HeadCopy: 'brandon-grotesque';
	--SubHeadCopy: 'brandon-grotesque';
	--BodyCopy-Bold: 'brandon-grotesque';
	--BodyCopy: 'brandon-grotesque';
}

/*-----------------------------------------
    Media Queries
-----------------------------------------*/

@custom-media --515vp (width < 515px);
@custom-media --768vp (width < 768px);
@custom-media --1024vp (width < 1024px);
@custom-media --1200vp (width < 1200px);
@custom-media --1400vp (width < 1400px);
/*-----------------------------------------
    FORCES MEDIA QUERIES TO BE
		WRITTEN IN CORRECT ORDER
-----------------------------------------*/

div {
	@media (--1400vp) {
		box-sizing: inherit;
	}

	@media (--1200vp) {
		box-sizing: inherit;
	}

	@media (--1024vp) {
		box-sizing: inherit;
	}

	@media (--768vp) {
		box-sizing: inherit;
	}

	@media (--515vp) {
		box-sizing: inherit;
	}
}

/*-----------------------------------------
    UNVERSAL BOX-SIZING
-----------------------------------------*/

html {
	box-sizing: border-box;
	font-size: 16px;
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*-----------------------------------------
   WYSIWYG CLASSES
-----------------------------------------*/

.alignleft {
	float: left;
	margin: 8px 8px 8px 0;

	@media (--515vp) {
		float: none;
		margin: 10px auto;
		display: block;
	}
}

.alignright {
	float: right;
	margin: 8px 0 8px 8px;

	@media (--515vp) {
		float: none;
		margin: 10px auto;
		display: block;
	}
}

.aligncenter {
	margin: 0 auto;
	display: block;
}

/*-----------------------------------------
   CONTENT WRAPPER
-----------------------------------------*/

.default-contents {
	max-width: 800px;
	margin: 0 auto 50px;
	padding: 2em;

	@media (--1024vp) {
		margin: 0 80px 50px;
	}

	@media (--768vp) {
		margin: 0 0 50px;
	}

	& img,
	& svg {
		max-width: 100%;
		height: auto;
	}

	& .half {
		width: 49%;
		display: inline-block;
		padding: 0 4em;
		margin-bottom: 2em;

		@media (--768vp) {
			width: 100%;
			padding: 0 2em;

			&:first-of-type {
				margin-bottom: 0;
			}
		}
	}

	& form {
		margin: 0 auto;
		max-width: 400px;

		@media (--768vp) {
			padding: 1em;
		}
	}
}

a.button.in-line {
	display: inline-block;

	@media (--768vp) {
		display: table;
	}
}

#field_4_8,
#field_7_8,
#field_5_6 {
	& label {
		&::before {
			display: none;
		}
	}
}