/*-----------------------------------------
   PAGE TITLES
-----------------------------------------*/

header.page-title {
	width: 100%;
	height: 450px;
	margin-bottom: 180px;
	align-items: flex-end;
	justify-content: center;
	position: relative;
	display: flex;
	background-color: var(--NeutralTwo);
	background-image: url('../images/hero-lemons-bg.jpg');
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;

	&>h1 {
		max-width: 800px;
		width: 90vw;
		margin-bottom: 0;
		padding: 100px 0 40px;
		text-align: center;
		background-color: var(--White);

		@media (--1024vp) {
			margin: 0 80px;
		}

		@media (--768vp) {
			margin: 0;
		}
	}

	&>p {
		max-width: 530px;
		width: 90vw;
		font-size: 22px;
		text-align: center;
		background-color: var(--White);
		margin: 0;
		position: absolute;
		bottom: -80px;
		z-index: 2;

		@media (--515vp) {
			bottom: -100px;
		}
	}

	&>a.button {
		max-width: 300px;
		width: 90vw;
		text-align: center;
		margin: 0;
		position: absolute;
		bottom: -140px;
		z-index: 2;

		@media (--515vp) {
			bottom: -160px;
		}
	}

	& .overlay {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -350px;
		width: 600px;
		height: 297px;
		background-image: url('../images/lemons-overlay.png');
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
	}
}

.error404 header.page-title,
.page-template-thankyou header.page-title {
	min-height: calc(100vh - 100px);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-image: url('../images/meet-team-bg.jpg');
	margin-bottom: 8em;
}