.post-preview {
	display: flex;

	& article {
		padding: 1rem;
		background-color: var(--NeutralOne);
		display: flex;
		flex-direction: column;
		padding: 1em;
		width: 100%;

		/*-----------------------------------------
				HEADER
		-----------------------------------------*/
		& header {
			& a {
				text-decoration: none;
				color: inherit;
			}

			& h1 {
				font-size: 45px;
				margin: 8px 0 0 0;

				@media (--768vp) {
					font-size: 23px;
				}
			}
		}

		/*-----------------------------------------
				EXCERPT
		-----------------------------------------*/
		& blockquote {
			margin: 1.5em 0 1em 0;
			padding: 0;
			border: none;
			flex: 1 0 auto;
		}

		& .button {
			align-self: flex-start;
		}

		& hr {
			margin-bottom: 0;
		}

		/*-----------------------------------------
				META DATA
		-----------------------------------------*/
		& footer {
			justify-content: space-between;
			background-color: transparent;
			width: 100%;
			margin: 0;

			&>* {
				min-width: 50%;
				margin: 0;

				&:nth-child(even) {
					text-align: right;
				}
			}
		}
	}
}